@tailwind base;
@tailwind components;
@tailwind utilities;

/* Updated Design System */
@layer base {
  :root {
    --background: hsl(0, 0%, 98%); /* Light Grey Background */
    --foreground: hsl(0, 0%, 20%); /* Dark Grey Text */

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 20%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 20%);

    --primary: hsl(252, 100%, 62%); /* Primary Purple */
    --primary-foreground: hsl(210, 20%, 98%);

    --secondary: hsl(252, 100%, 84%); /* Secondary Purple (hover color) */
    --secondary-foreground: hsl(220.9, 39.3%, 11%);

    --muted: hsl(252, 100%, 96%); /* Tertiary Light Purple */
    --muted-foreground: hsl(220, 8.9%, 46.1%);

    --accent: hsl(220, 14.3%, 95.9%);
    --accent-foreground: hsl(220.9, 39.3%, 11%);

    --destructive: hsl(0, 100%, 61%); /* Red Errors */
    --destructive-foreground: hsl(210, 20%, 98%);

    --border: hsl(0, 0%, 85%); /* Grey Borders */
    --input: hsl(220, 13%, 91%);
    --ring: hsl(224, 71.4%, 4.1%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  .heading-m {
    font-size: 32px;
    line-height: 150%;
    font-weight: bold;
  }

  h2,
  .heading-s {
    font-size: 16px;
    line-height: 150%;
    font-weight: bold;
  }

  p,
  .body-m {
    font-size: 16px;
    line-height: 150%;
    font-weight: regular;
  }

  .body-s {
    font-size: 12px;
    line-height: 150%;
    font-weight: regular;
  }
}
